.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons {
  display: grid;
  gap: 5px;
  grid-template-columns: max-content max-content;
}